/* #region 위플랩 */
#page_wrap .chat_list {
  left: unset !important;
  right: 0 !important;
  width: auto !important;
  display: flex;
  flex-direction: row;
}

#page_wrap .chat_list .chat_box:not(.chat) {
  display: none !important;
}

#page_wrap .chat_list .chat_box.chat .inner_box {
  display: flex !important;
  flex-direction: column-reverse !important;
  padding-right: 1em !important;
  overflow: unset !important;
}

#page_wrap .chat_list .chat_box.chat p {
  white-space: nowrap !important;
}

#page_wrap .icon_platform,
#page_wrap .icon_badge {
  display: none !important;
}

#page_wrap p.name:after {
  display: none !important;
}

#page_wrap p.name .nick {
  color: #ffffff !important;
  text-shadow:
    0 0 7px #fff, 0 0 9px #fff,
    0 0 3px #FFF1A3, 0 0 6px #FFF1A3, 0 0 12px #FFF1A3;
  ;
  margin: 0 !important;
}

#page_wrap p.name .nick .id {
  display: none !important;
}

#page_wrap .chat_list .chat_box p.text {
  color: #ffffff !important;
  text-shadow:
    0 0 7px #fff,
    /* 0 0 9px #fff,*/
    0 0 3px #FFF1A3, 0 0 6px #FFF1A3
    /*, 0 0 12px #FFF1A3*/
  ;
  ;
}

/* #endregion */

/* #region 아프리카 도우미 */
#page .item_chat .chat_list {
  left: unset !important;
  right: 0 !important;
  width: auto !important;
  display: flex;
  flex-direction: row;
}

#page .item_chat .chat_list li {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 1em !important;
}

#page .item_chat.item_chat_enter:not(.item_chat_idhide) li:not(.gift_box):not(.police):not(.notice):not(.up):not(.join):not(.gift) p {
  white-space: nowrap !important;
}

#page .ig {
  display: none;
}

#page p.nick .dot {
  display: none !important;
}

#page p.nick .name {
  color: #ffffff !important;
  text-shadow:
    0 0 7px #fff, 0 0 9px #fff,
    0 0 3px #FFF1A3, 0 0 6px #FFF1A3, 0 0 12px #FFF1A3;
  ;
  margin: 0 !important;
}

#page .item_box .chat_list:not(.gift_box) li p.text {
  color: #ffffff !important;
  text-shadow:
    0 0 7px #fff, 0 0 9px #fff,
    0 0 3px #FFF1A3, 0 0 6px #FFF1A3, 0 0 12px #FFF1A3;
  ;
}

/* #endregion */