:root {
    --chat-color: #FFF1A3;
    --nick-color: #864733;
    --icon: url('https://chochoLua.github.io/src/chatbox/puding.png');
    --icon2: url('https://chochoLua.github.io/src/chatbox/cherry.png');
}

/* #region 위플랩 */
#page_wrap .chat_list .chat_box {
    margin-bottom: 10px !important;
}

#page_wrap .chat_list .chat_box .inner_box {
    position: relative;
    overflow: unset !important;
}

#page_wrap .chat_list .chat_box:not(.chat) {
    padding-top: 1em !important;
    margin-top: 60px !important;
}

#page_wrap .chat_list .chat_box.chat .inner_box {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

#page_wrap .chat_list .chat_box.chat p.text:after {
    content: " ";
    position: absolute;
    left: -0.4em;
    bottom: -0.4em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    z-index: 1;
}

#page_wrap .chat_list .chat_box.chat:nth-of-type(2n) p.text:after {
    background: var(--icon) no-repeat;
    background-size: contain !important;
}

#page_wrap .chat_list .chat_box.chat:nth-of-type(2n+1) p.text:after {
    background: var(--icon2) no-repeat;
    background-size: contain !important;
}

#page_wrap .chat_list .chat_box.chat p.name {
    position: relative;
    align-self: end;
    width: fit-content;
    bottom: -0.3em;
}

#page_wrap .chat_list .chat_box p.name {
    background: var(--nick-color);
    color: #ffffff !important;
    text-shadow: none;
    border-radius: 20px;
    padding: 5px 15px;
}

#page_wrap .chat_list .chat_box p.name:after {
    display: none !important;
}

#page_wrap .chat_list .chat_box.chat p.text {
    background: #fff8d2;
    /* border: 3px solid var(--nick-color); */
    border-radius: 10px;
    /* box-shadow: 0 5px 0px 3px var(--nick-color); */
    padding: 10px 20px;
}

#page_wrap .chat_list .chat_box:not(.chat) .inner_box {
    border: 4px solid var(--nick-color) !important;
    border-radius: 3.5em 3.5em 0.8em 0.8em !important;
    background: var(--chat-color) !important;
}

#page_wrap .chat_list .chat_box.text .inner_box {
    display: flex;
    min-height: 120px;
    justify-content: center;
    align-items: center;
}

#page_wrap .chat_list .chat_box:not(.chat) .inner_box .donation_box {
    border: none !important;
    background: none !important;
}

#page_wrap .chat_list .chat_box:not(.chat) .inner_box .gift_text {
    background: var(--nick-color);
}

#page_wrap .chat_list .chat_box:not(.chat) .gift_text {
    border-radius: 0.4em 0.4em 0 0;
    color: #ffffff !important;
    border: 0;
}

#page_wrap .chat_list .chat_box:not(.chat) .inner_box .gift_text .name {
    position: absolute;
    z-index: 2;
}

#page_wrap .chat_list .chat_box:not(.chat) .gift_text .name {
    position: relative !important;
    color: #ffffff;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8), -1px -0.5px 1px rgba(0, 0, 0, 0.8), -1px 0px 1px rgba(0, 0, 0, 0.8), -1px 0.5px 1px rgba(0, 0, 0, 0.8), -1px 1px 1px rgba(0, 0, 0, 0.8), -0.5px -1px 1px rgba(0, 0, 0, 0.8), -0.5px -0.5px 1px rgba(0, 0, 0, 0.8), -0.5px 0px 1px rgba(0, 0, 0, 0.8), -0.5px 0.5px 1px rgba(0, 0, 0, 0.8), -0.5px 1px 1px rgba(0, 0, 0, 0.8), 0px -1px 1px rgba(0, 0, 0, 0.8), 0px -0.5px 1px rgba(0, 0, 0, 0.8), 0px 0px 0px rgba(0, 0, 0, 0.8), 0px 0.5px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(0, 0, 0, 0.8), 0.5px -1px 1px rgba(0, 0, 0, 0.8), 0.5px -0.5px 1px rgba(0, 0, 0, 0.8), 0.5px 0px 0.5px rgba(0, 0, 0, 0.8), 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.8), 0.5px 1px 0.5px rgba(0, 0, 0, 0.8), 1px -1px 1px rgba(0, 0, 0, 0.8), 1px -0.5px 1px rgba(0, 0, 0, 0.8), 1px 0px 1px rgba(0, 0, 0, 0.8), 1px 0.5px 1px rgba(0, 0, 0, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#page_wrap .chat_list .chat_box:not(.chat) .inner_box:before {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 48px;
    background: url('https://chochoLua.github.io/src/chatbox/gift_top.png') no-repeat;
    background-size: contain;
    background-position: center;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
}

#page_wrap .chat_list .chat_box:not(.chat) .inner_box:after {
    content: "";
    position: absolute;
    display: block;
    background: url('https://chochoLua.github.io/src/chatbox/gift_deco.png') no-repeat;
    background-size: cover;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
    width: 108px;
    height: 81px;
    top: -60px;
    z-index: 1;
}

#page_wrap .chat_list .chat_box:not(.chat) .donation_box .gift_chat {
    padding: 0.5em 0.7em 0.5em 0.7em;
}

#page_wrap .chat_list .chat_box:not(.chat) .donation_box .gift_msg {
    background: transparent !important;
}

#page_wrap .icon_badge {
    left: -0.2em;
    position: absolute;
    margin: 0;
}

.fadeIn {
    transform-origin: right!important;
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: rotate(-1.5deg);
        /* opacity: 0; */
        transform: rotate(-1.5deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        /* opacity: 1; */
        transform: rotate(0deg);
    }
}

@keyframes fadeIn {
    0% {
        -webkit-transform: rotate(-1.5deg);
        /* opacity: 0; */
        transform: rotate(-1.5deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        /* opacity: 1; */
        transform: rotate(0deg);
    }
}

/* #endregion */